.genre {
  // width: 60%;
  &__title {

  }

  &__title::before {
    display: inline-block;
    content: "";
    width: 22px;
    height: 26px;
    margin-right: 10px;
    background-image: url('/../../img/svg/genre.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &__list {
    display: flex;
    margin-bottom: 66px;
    gap: 24px;
    @include tablet {
      flex-wrap: wrap;
    }
  }

  &__link {
    display: block;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.02em;
    text-align: right;
    text-transform: capitalize;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    background: linear-gradient(136deg, #b5179e 0%, #7209b7 100%);
    background-clip: text;
  }
}

.genre-list {
  &__item {
    position: relative;
    border-radius: 20px;
    max-width: 239px;
    height: 269px;
    overflow: hidden;

    @include tablet {
      flex-grow: 1;
      display: flex;
      max-width: 100%;
      height: auto;
    }
  }

  &__img {

    @include tablet {
      width: 70px;
    }
  }

  &__content {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    width: 100%;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(31px);
    background: rgba(69, 69, 69, 0.7);

    @include tablet {
      position: static;
    }
  }

  &__title {
    margin-bottom: 7px;
    //font-size: 18px;
    @include adaptive-value('font-size', 18, 14, 3);
    font-weight: 500;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    color: #dedede;
  }

  &__quantity {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #fff;
  }
}
