.header {
  @include adaptive-value('padding-top', 39, 15, 3);
  @include adaptive-value('padding-bottom', 39, 30, 3);
  @include adaptive-value('padding-left', 17, 10, 3);
  @include adaptive-value('padding-right', 17, 10, 3);
  &__container {
    display: flex;
    //justify-content: space-between;
    gap: 20px;
    align-items: center;

    @include small-mobile {
      justify-content: flex-start;
    }
  }

  &__user {
    display: flex;
    //gap: 25px;
    @include adaptive-value('gap', 25, 10, 3);
    @include small-mobile {
      margin-right: 10px;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  @include adaptive-value('gap', 16, 9, 3);
  color: #d9d9d9;
  @include adaptive-value('font-size', 30, 20, 3);
  font-weight: 900;

  @include small-mobile {
    margin-right: auto;
  }
}

.logo img {
  @include small-mobile {
    width: 20px;
  }
}

.search {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 22px;
  border-radius: 36px;
  padding: 15px 22px;
  //width: 776px;
  //@include adaptive-value('width', 776px, 0, 3);
  height: 52px;
  backdrop-filter: blur(176px);
  background: rgba(65, 65, 65, 0.65);

  @include small-mobile {
    display: none;
  }

  &__input {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #b8b8b8;
    background: transparent;
  }

  &__input:focus {
    border: none;
  }
}

.user {
  &__img {

    @include small-mobile {
      width: 30px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;

    @include small-mobile {
      display: none;
    }
  }

  &__nickname {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #fff;
  }

  &__descr {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #b8b8b8;
  }
}
