.menu {
  width: 275px;
  padding: 20px 10px;
  // border: 1px solid red;
  border-radius: 15px;
  backdrop-filter: blur(176px);
  background: rgba(65, 65, 65, 0.65);
  box-shadow: 6px 4px 100px 0 rgba(0, 0, 0, 0.8);

  @include small-mobile {
    display: none;
  }

  &__title {
    padding-bottom: 13px;
    margin-bottom: 47px;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #b8b8b8;
    border-bottom: 5px solid transparent;
    border-image: linear-gradient(136deg, #b5179e 0%, #7209b7 100%);
    border-image-slice: 1;
  }
}

.menu-list {
  // padding-left: 15px;
  margin-bottom: 101px;

  &__link {
    display: flex;
    padding: 15px;
    align-items: center;
    gap: 15px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #fff;
    //border: 2px solid #fff;
    border-radius: 6px;
    transition: color ease-in-out 0.3s;
  }

  &__link:hover {
    color: #7209b7;
  }

  &__link:not(last-child) {
    margin-bottom: 5px;
  }

  &__link--active {
    background: linear-gradient(136deg, #b5179e 0%, #7209b7 100%);
  }
  &__link--active:hover {
    color: currentColor;
  }
}

svg {
  fill: transparent;
  stroke: currentColor;
}
