<section class="genre">
  <div class="container genre__container">
    <h2 class="section-title genre__title">Discover genre</h2>
    <ul class="genre__list genre-list">
      <li class="genre-list__item list-reset">
        <img class="genre-list__img" src="/img/Acoustic.jpg" alt="Acoustic">
        <div class="genre-list__content">
          <div>
            <h3 class="genre-list__title">Acoustic</h3>
            <p class="genre-list__quantity">120 tracks</p>
          </div>
          <img src="/img/svg/genre_play.svg" alt="play">
        </div>
      </li>
      <li class="genre-list__item list-reset">
        <img class="genre-list__img" src="/img/Death_Metal.jpg" alt="Death Metal">
        <div class="genre-list__content">
          <div>
            <h3 class="genre-list__title">Death Metal</h3>
            <p class="genre-list__quantity">180 tracks</p>
          </div>
          <img src="/img/svg/genre_play.svg" alt="play">
        </div>
      </li>
      <li class="genre-list__item list-reset">
        <img class="genre-list__img" src="/img/Pop.jpg" alt="Pop">
        <div class="genre-list__content">
          <div>
            <h3 class="genre-list__title">Pop</h3>
            <p class="genre-list__quantity">200 tracks</p>
          </div>
          <img src="/img/svg/genre_play.svg" alt="play">
        </div>
      </li>
    </ul>
    <a class="genre__link" href="">show more &gt;&gt;</a>
  </div>
</section>
