<section class="menu">
  <h2 class="title menu__title">Menu</h2>
  <ul class="menu__list menu-list list-reset">
    <li class="menu-list__item">
      <a href="" class="menu-list__link">
        <img src="/img/svg/Profile.svg" alt="Profile">
        <span>Profile</span>
      </a>
    </li>
    <li class="menu-list__item">
      <a href="" class="menu-list__link">
        <img src="/img/svg/Dashboard.svg" alt="Dashboard">
        <span>Dashboard</span>
      </a>
    </li>
    <li class="menu-list__item">
      <a href="" class="menu-list__link">
        <img src="/img/svg/Favorite.svg" alt="Favorite">
        <span>Favorite</span>
      </a>
    </li>
  </ul>

  <h2 class="title menu__title">Help</h2>
  <ul class="menu__list menu-list list-reset">
    <li class="menu-list__item">
      <a href="" class="menu-list__link">
        <img src="/img/svg/settings.svg" alt="Settings">
        <span>Settings</span>
      </a>
    </li>
    <li class="menu-list__item">
      <a href="" class="menu-list__link">
        <img src="/img/svg/faq.svg" alt="Faq">
        <span>FAQs</span>
      </a>

    </li>
  </ul>

</section>
