<section class="menu-music">
  <h2 class="title menu-music__title">Artist</h2>
  <ul class="menu-music__list menu-music-list list-reset">
    <li class="menu-music-list__item">
      <a href="" class="menu-music-list__link">
        <div>
          <img class="menu-music-list__img" src="/img/jackie_burhan.png" alt="">
          <h3 class="menu-music-list__name">jackie burhan</h3>
        </div>

        <button class="menu-music-list__btn">
          <img src="/img/svg/more.svg" alt="">
        </button>
      </a>
    </li>
    <li class="menu-music-list__item">
      <a href="" class="menu-music-list__link">
        <div>
          <img src="/img/jackie_burhan.png" alt="">
          <h3 class="menu-music-list__name">Jackie Burhan</h3>
        </div>
        <button class="menu-music-list__btn">
          <img src="/img/svg/more.svg" alt="">
        </button>
      </a>
    </li>
    <li class="menu-music-list__item">
      <a href="" class="menu-music-list__link">
        <div>
          <img src="/img/Maria.png" alt="">
          <h3 class="menu-music-list__name">Maria</h3>
        </div>
        <button class="menu-music-list__btn">
          <img src="/img/svg/more.svg" alt="">
        </button>
      </a>
    </li>
    <li class="menu-music-list__item">
      <a href="/img/jackie_burhan.png" class="menu-music-list__link">
        <div>
          <img src="/img/jackie_burhan.png" alt="">
          <h3 class="menu-music-list__name">Jackie burhan</h3>
        </div>
        <button class="menu-music-list__btn">
          <img src="/img/svg/more.svg" alt="">        </button>
      </a>
    </li>
    <li class="menu-music-list__item">
      <a href="" class="menu-music-list__link">
        <div>
          <img src="/img/jackie_burhan.png" alt="">
          <h3 class="menu-music-list__name">jackie burhan</h3>
        </div>

        <button class="menu-music-list__btn">
          <img src="/img/svg/more.svg" alt="">
        </button>
      </a>
    </li>
  </ul>

</section>
