<div id="stickycontainer">
  <div id="playercontainer">
    <div id="player">
      <div id="albumart"></div>


      <div id="song">
        <div id="songinfo">
          <div id="songTitle"><b>A Broken Man</b></div>
          <div id="artist">Dream Theater</div>
          <div id="album">Single 2024<span id="year">2024</span></div>
        </div>
        <div id="audiocontainer">
          <audio id="audio" autoplay controls></audio>
        </div>
      </div>

    </div>
  </div>
  <div id="divider"></div>
  <div id="error"></div>
  <div id="interactioncontainer"></div>
</div>
